/* -----------HELPERS------------*/
body {font-family: 'Epilogue', sans-serif;}
a {text-decoration: none; color: #000}
li {list-style-type: none;}



/* -----------HEADER------------*/
header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.menu {display: flex; }
.menu li {text-transform: uppercase; margin-right: 20px;}
.logo_container img {width: 200px;}

/* -----------GALLERY------------*/


/* ----------- FOOTER------------*/
