/* -----------HELPERS------------*/
body {font-family: 'Epilogue', sans-serif;}
a {text-decoration: none; color: #000}
a:hover {color: #f75372;}
li {list-style-type: none;}



/* -----------HEADER------------*/
header {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {display: flex;margin-top: 25px; }
.menu li {text-transform: uppercase; margin-right: 20px;}
.logo_container img {width: 200px;}

/* -----------GALLERY------------*/
.container h1 {text-align: center; color: #00214d;}

/* ----------- FOOTER------------*/
